/* Reset para asegurar que todo se vea consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f9;
    color: #333;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    background-color: #fff;
}


/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

