body {
    background-color: #c7f1bc;
    font-family: Arial, sans-serif;
    color: #4f86f7;
    text-align: center;
}

.contenedor {
    width: 50%;
    margin: 50px auto;
    background-color: #f0f8ff;
}

h1 {
    color: #4f86f7;
}

input {
    margin: 5px;
    width: 60%;
    background-color: #fafafa;
}

button {
    padding: 10px 20px;
    background-color: #4f86f7;
    color: white;
}

button:hover {
    background-color: #4169e1;
}