body {
    background-color: #f2e0c9;
    color: #4b4b4b;
    text-align: center;
}
.contenedor {
    width: 60%;
    margin: 50px auto;
    background-color: white;
}
h1 {
    color: #6a4c32;
}
select {
    padding: 10px;
    font-size: 1em;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #6a4c32;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover {
    background-color: #4b3621;
}

.vehiculo {
    margin-top: 30px;
    background-color: #fff0e6;
}

.tapiceria, .molduras {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2em;
}

.tapiceria.blanco {
    background-color: white;
    color: #4b4b4b;
}

.tapiceria.negro {
    background-color: black;
    color: white;
}

.tapiceria.berenjena {
    background-color: #8e1d47;
    color: white;
}

.molduras.madera {
    background-color: #deb887;
    color: #4b4b4b;
}

.molduras.carbono {
    background-color: #333333;
    color: white;
}
