body {
    background-color: #f2e0c9; /* Color marrón clarito */
    font-family: Arial, sans-serif;
    color: #4b4b4b;
    text-align: center;
}

.contenedor {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #6a4c32; /* Marrón oscuro */
}

label {
    font-size: 1.1em;
}

select {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #6a4c32; /* Marrón oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover {
    background-color: #4b3621; /* Un marrón aún más oscuro */
}

.vehiculo {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #6a4c32;
    background-color: #fff0e6;
}

.tapiceria, .molduras {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2em;
}

.tapiceria.blanco {
    background-color: white;
    color: #4b4b4b;
}

.tapiceria.negro {
    background-color: black;
    color: white;
}

.tapiceria.berenjena {
    background-color: #8e1d47; /* Berenjena */
    color: white;
}

.molduras.madera {
    background-color: #deb887; /* Madera */
    color: #4b4b4b;
}

.molduras.carbono {
    background-color: #333333; /* Carbono */
    color: white;
}
