body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.contenedor {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8e0e0;
}

h1 {
    color: #d5006e;
}

label, button {
    font-size: 1.1em;
}

input {
    width: 50%;
    font-size: 1em;
}

button {
    background-color: #d5006e;
    color: white;
}

button:hover {
    background-color: #c4005b;
}

th {
    background-color: #f2b8d0;
}
