body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul clarito */
    color: #333;
    text-align: center;
}

.contenedor {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
}

button {
    background-color: #4caf50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Verde oscuro */
}
