body {
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

.contenedor {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    width: 50%;
}

button {
    background-color: #b83939;
    color: white;
}

button:hover {
    background-color: #671a35;
}
