body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.contenedor {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0056b3;
}

label, button {
    font-size: 1.1em;
    margin: 10px 0;
}

input {
    padding: 10px;
    width: 50%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #0056b3;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004085;
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid #0056b3;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d9eaf7;
}

td {
    background-color: #f7f7f7;
}
