body {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

.contenedor {
    width: 60%;
    background-color: white;
}

h1 {
    color: #0056b3;
}
input {
    width: 50%;
}

button {
    background-color: #0056b3;
    color: white;
}

button:hover {
    background-color: #004085;
}

table {
    width: 80%;
}

table, th, td {
    border: 1px solid #0056b3;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d9eaf7;
}

td {
    background-color: #f7f7f7;
}
