* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f7fc;
    color: #333;
}

.container {
    max-width: 600px;
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #3498db;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #27ae60;
    color: white;
}

.resultado {
    text-align: center;
}

